.Score {
  margin-bottom: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 1.8rem;
    font-weight: 700;
  }
  &__number {
    font-size: 5rem;
    font-weight: 700;
  }
  &__pause {
    font-size: 1.5rem;
    font-weight: 700;
    .key {
      font-weight: 900;
    }
  }
  &__game-over {
    font-size: 4rem;
    font-weight: 900;
    color: #dc3545;
  }
  &__restart {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #28a745;
  }
}
